<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

	<h1 class="display-4">Author : <%= author_first = request.env['PATH_INFO'].gsub("/authors/list.", "") %></h1>
	<!-- Récupère le lien et retire le "authors/list." pour qu'il puisse ne rester que le title présent en lien -->
</br>
</br>

<p class="lead">City : <%= city = City.find(User.find_by(first_name: author_first).city_id).name %></p>
<!-- Trouve la ville à partir du city_id du User -->

<p class="lead">Fullname : <%= author_first = User.find_by(first_name: author_first).first_name %> <%= author_last = User.find_by(first_name: author_first).last_name %></p>
<!-- Trouve le last_name à partir du first_name -->

<p class="lead">Age : <%= author_last = User.find_by(first_name: author_first).age %></p>
<!-- Trouve le last_name à partir du first_name -->

</div>