<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

	<h1 class="display-4"><%= gossip_title = request.env['PATH_INFO'].gsub("/gossips/list.", "") %></h1>
	<!-- Récupère le lien et retire le "gossips/list." pour qu'il puisse ne rester que le title présent en lien -->
</br>
</br>


<p class="lead">Gossip n° <%= gossip_content = Gossip.find_by(title: gossip_title).id %></p>
<!-- Trouve l'id à partir du titre -->

<p class="lead"><%= link_to (User.find(Gossip.find_by(title: gossip_title).user_id).first_name),  authors_list_path(User.find(Gossip.find_by(title: gossip_title).user_id).first_name) %></p>
<!-- Trouve le User.first_name lié au Gossip et créé renvoie vers sa page profil -->

<p class="lead"><%= gossip_content = Gossip.find_by(title: gossip_title).content %></p>
<!-- Trouve le content à partir du titre -->

<p class="lead"><%= creation_date = "19 Janvier 2019" %></p>
<!-- Date mise à la main, j'avais zapé cette étape.. -->

</div>