<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><h1 class="display-4">Bienvenue <%= @name.capitalize %> !</h1>
</br>
</br>


<p class="lead">Hey <%= @name.capitalize %> tous les gossips pour toi :</p>
<p class="lead"> 
	<% Gossip.all.each do |gossip| %>
	<b>Author :</b> <%= link_to (User.find(gossip.user_id).first_name) %><br>
  	<b>Title :</b> <%= link_to (gossip.title) %><br> 
  	<b>Content :</b> <%= gossip.content %><br><br>
	<% end %> </p>
</div>